.profile {
  color: var(--color-primary);

  .profile_top {
    margin-top: 56px;
    box-shadow: 0 1px 2px var(--shadow-1);
    background: var(--bg-primary);

    .profile_container {
      max-width: 945px;
      margin: 0 auto;

      .profile_cover {
        position: relative;
        height: 350px;
        width: 100%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background: var(--bg-secondary);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }

        @media screen and (max-width: 950px) {
          height: 280px;
        }
        @media screen and (max-width: 335px) {
          height: 230px;
        }
      }
    }
  }
  .udpate_cover_wrapper {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    @media screen and (max-width: 500px) {
      bottom: 3rem;
    }
    .open_cover_update {
      background: #fff;
      padding: 7px 15px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 600;
      font-size: 14px;
      color: #111;
      border-radius: 10px;
      cursor: pointer;

      i {
        transform: scale(0.9);
        margin-top: 4px;
      }
    }
  }
  .open_cover_menu {
    background: var(--bg-primary);
    position: absolute;
    right: 0;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
      inset 0 0 0 px var(--shadow-inset);
    z-index: 99999;
    .open_cover_menu_item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
      border-radius: 10px;
    }
  }
  // profile pic
  .profile_img_wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: -2.8rem;

    @media screen and (max-width: 950px) {
      flex-direction: column;
      justify-content: center;
    }

    .profile_w_left {
      display: flex;
      gap: 1rem;
      padding: 1rem 13px 0 13px;

      @media screen and (max-width: 950px) {
        flex-direction: column;
        align-items: center;
      }
      .profile_w_img {
        position: relative;
        z-index: 9999;

        .profile_w_bg {
          width: 170px;
          height: 170px;
          transform: translateY(-3.6rem);
          border-radius: 50%;
          background-repeat: no-repeat;
          border: 2px solid #fff;
          background: #fff;
          cursor: pointer;

          &:hover {
            filter: brightness(95%);
          }
          @media screen and (max-width: 400px) {
            width: 150px;
            height: 150px;
          }
        }
        .profile_circle {
          position: absolute;
          bottom: 4.5rem;
          right: 0.55rem;
          background: var(--bg-third);
          width: 36px;
          height: 36px;
          border-radius: 50%;
          display: grid;
          place-items: center;
          cursor: pointer;
          @media screen and (max-width: 950px) {
            right: 1rem;
          }
        }
      }
      .profile_w_col {
        @media screen and (max-width: 950px) {
          transform: translateY(-3.6rem);
        }

        .profile_name {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 600;
          font-size: 29px;
          @media screen and (max-width: 950px) {
            padding-bottom: 10px;
          }
          @media screen and (max-width: 450px) {
            font-size: 20px;
          }
          @media screen and (max-width: 335px) {
            font-size: 15px;
          }
          .othername {
            color: var(--color-secondary);
            font-size: 17px;
          }
        }
      }
    }
    .profile_w_right {
      display: flex;
      gap: 8px;
      padding: 0 18px;
      margin-bottom: 7px;
    }
  }
  /*--Menu---*/
  .profile_menu_wrap {
    position: relative;
    padding: 0 2.2rem;

    @media screen and (max-width: 950px) {
      padding: 2.6rem 2.2rem 0 2.2rem;
    }

    .profile_menu {
      position: relative;
      border-top: 1px solid var(--border-color);
      display: flex;
      padding: 0;

      a {
        height: 54px;
        width: 78.5px;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin: 3px 0;
        color: var(--color-secondary);
        @media screen and (max-width: 635px) {
          &:nth-child(7) {
            display: none;
          }
        }
        @media screen and (max-width: 575px) {
          &:nth-child(6) {
            display: none;
          }
        }
        @media screen and (max-width: 485px) {
          &:nth-child(5) {
            display: none;
          }
        }
        @media screen and (max-width: 405px) {
          &:nth-child(4) {
            display: none;
          }
        }
      }
      .profile_menu_active {
        height: 60px !important;
        width: 65px !important;
        margin: 0 !important;
        color: var(--blue-color) !important;
        border-bottom: 3px solid var(--blue-color);
        border-radius: 0 !important;
      }
      .p10_dots {
        background: var(--bg-third);
        position: absolute;
        right: 0;
        top: 10px;
        border-radius: 5px;
        display: grid;
        place-items: center;
        padding: 8px 14px;
        .p10_dots svg {
          width: 16px;
          height: 16px;
          margin-top: 2px;
          margin-left: 2px;
        }
      }
    }
  }
  /*--Menu ends---*/
  /*--Menu body---*/
  .profile_bottom {
    margin-top: 1px;
    background: var(--bg-secondary);
    .profile_container {
      max-width: 945px;
      margin: 0 auto;
    }

    .bottom_container {
      padding: 10px 2.2rem;

      .profile_grid {
        display: grid;
        grid-template-columns: 1fr 1.8fr;
        gap: 10px;

        @media screen and (max-width: 950px) {
          grid-template-columns: 1fr;
          width: 95%;
        }

        /*--Menu grid---*/

        .grid2 {
          display: grid;
          grid-template-columns: repeat(2, 1fr) !important;
          font-size: 14px;

          .view_type {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-weight: 600;
            color: var(--color-secondary);
          }
        }
        /*--Menu grid ends---*/
        .no_posts {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          font-size: 20px;
          margin-top: 10px;
          color: var(--color-secondary);
        }
      }
      /*-----profile card--------*/
      .profile_card {
        background: var(--bg-primary);
        border-radius: 10px;
        box-shadow: 0 1px 2px var(--shadow-1);
        padding: 10px 15px;
        margin-top: 15px;
        .profile_card_header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: 700;
          font-size: 20px;
          .profile_header_link {
            font-weight: normal;
            font-size: 16px;
            color: var(--blue-color);
            cursor: pointer;
            padding: 5px 10px;
            &:hover {
              background: var(--bg-secondary);
            }
          }
        }
        .profile_card_count {
          color: var(--color-secondary);
        }
        .profile_card_grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;
          margin-top: 10px;
          .profile_photo_card {
            width: 100%;
            height: 100%;
            cursor: pointer;
            img {
              width: 100%;
              height: 105px;
              object-fit: cover;
              border-radius: 10px;
            }
            span {
              color: var(--color-primary);
              font-size: 14px;
            }
          }
        }
      }
      .relative_fb_copyright {
        position: relative;
        margin-top: 10px;
        font-size: 12px;
        color: var(--color-secondary);
        width: 97%;
        padding-bottom: 5px;
        // @media screen and (max-width: 850px) {
        //   display: none;
        // }
      }
      /*-----profile card ends--------*/
    }
  }
  /*--Menu body ends---*/

  .cover_crooper {
    height: 100%;
  }
  .cover_crooper img {
    object-fit: cover;
    width: 100%;
  }
  .cover_crooper .reactEasyCrop_Container {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .save_changes_cover {
    z-index: 999999999;
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    font-size: 14px;
    color: var(--color-primary);
  }
  .save_changes_left {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
  }
  .save_changes_left i {
    filter: invert(100%);
  }
  .save_changes_right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .save_changes_right button {
    padding: 10px;
  }
  .save_changes_right button:first-of-type {
    width: 100px;
    background: #39393f;
  }
  .save_changes_right button:last-of-type {
    width: 160px;
  }
  .selectCoverBox {
    width: 570px !important;
    max-width: 80vw;
  }
  .selectCoverBox_links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 15px;
  }
  .selectCoverBox_link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 0 10px 0;
    cursor: pointer;
  }
  .selectCoverBox_link:first-of-type {
    color: var(--blue-color);
    border-bottom: 3px solid var(--blue-color);
  }
}
.invert {
  filter: invert(100%);
}
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile_friend_count {
  text-align: center;
  transform: translateY(-10px);
  font-weight: 600;
}
/*-------friendShip----------*/
.friendship {
  z-index: 9;
  display: flex;
  align-items: center;
  gap: 10px;
  @media screen and (max-width: 950px) {
    transform: translateY(-2.5rem);
  }
  @media screen and (min-width: 900px) {
    transform: translateX(-2rem);
  }
  @media screen and (max-width: 400px) {
    flex-direction: column;
  }
  .blue_btn {
    height: 35px;
  }
}
