.messenger {
  height: calc(100vh - 57px);
  display: flex;
  margin-top: 57px;

  /*---chat menu side---*/
  .chatMenu {
    flex: 3.5;
    .chatMenuWrapper {
      padding: 10px;
      height: 100%;

      .chatMenuInput {
        width: 90%;
        padding: 10px 0;
        border: none;
        border-bottom: 1px solid gray;
      }
    }
  }
  /*---chat menu side end---*/

  /*---chat box side---*/
  .chatBox {
    flex: 5.5;

    .chatBoxWrapper {
      padding: 10px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      .chatBoxTop {
        height: 100%;
        overflow-y: scroll;
        padding-right: 10px;
      }

      .chatBoxBottom {
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .chatMessageInput {
          width: 80%;
          height: 90px;
          padding: 10px;
        }

        .chatSubmitButton {
          width: 70px;
          height: 40px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          background-color: teal;
          color: white;
        }
      }
    }
  }
  /*---chat box side end---*/

  /*---chat online side---*/
  .chatOnline {
    flex: 3;
    .chatOnlineWrapper {
      padding: 10px;
      height: 100%;
    }
  }
  /*---chat online side end---*/
}
.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}
